<template>
  <div id="app">
    <flex-table :tableData="tableData" @change="changed" :striped="true">
      <ft-column field="name" title="Name" :pinned="true" :orderable="true" :width="400" />
      <ft-column field="isActive" title="Active" :width="50" align="center" type="checkbox" />
      <ft-column field="age" title="Age" :width="60" align="center" :orderable="true" cellClass="nopad" :render="renderAge" />
      <ft-column field="gender" title="Gender" :width="60" align="center" />
      <ft-column field="title" title="Title" :width="140" />
      <ft-column field="company" title="Company" :width="140" />
      <ft-column field="office" title="Location" :width="100" align="center" />
      <ft-column field="email" title="Email" :width="230" />
    </flex-table>
  </div>
</template>

<script>
  import {FlexTable, FlexTableColumn} from './src';
  import data from './test_data';

  const times = 1;
  
  export default {
    name: 'app',
    components: {FlexTable, FlexTableColumn},
    data () {
      return {
        rows: data
      }
    },
    methods: {
      renderAge: function(r, c){
        const e = document.createElement('span');
        e.innerHTML = r.age;
        e.onclick = () => {
          this.clickedAge.call(this, r);
        }
        if(r.isActive) { 
          e.className = 'center bolder'; 
        } else {
          e.className = 'center';
        }
        return e;
      },
      changed: function(field, rowData, current, e){
        let newvalues = [];
        this.rows.forEach((row) => {
          if(row._id === rowData._id){
            row.isActive = !row.isActive;
          }
          newvalues.push(row);
        });
        this.rows = newvalues;
      },
      clickedAge: function(r){
        console.log(r.age);
      }
    },
    computed: {
      isActive: function(){
        console.log(this)
      },
      tableData: function(){
        var d = [];
        for(var i=0; i<times; i++){
          this.rows.forEach((r) => d.push(r));
        }
        return d;
      }
    }
  }
</script>

<style>
  #app {
    width: 950px;
    height: 400px;
    margin: 10px auto;
    background-color: white;
    display: flex;
  }
  .bolder {
    font-weight: 600;
    background-color: #9c0;
  }
  .center {
    text-align: center;
    cursor: pointer;
  }
  .td.nopad,
  .th.nopad {
    padding: 0px;
  }
</style>
