  .th {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0 5px;
    border-left: 1px solid #999;
    background-color: #e5e9ee;
    overflow: hidden;
    font-weight: 600;
  }
  .th-ordered {
    cursor: pointer;
  }
  .ordered {
    background-image: url('./sort.svg');
    background-size: 8px;
    background-position: center right 5px;
    background-repeat: no-repeat;
  }
  .ordered-asc {
    background-image: url('./sort-asc.svg');
    background-size: 8px;
    background-position: center right 5px;
    background-repeat: no-repeat;
  }
  .ordered-desc {
    background-image: url('./sort-desc.svg');
    background-size: 8px;
    background-position: center right 5px;
    background-repeat: no-repeat;
  }
  .th:first-child {
    border-left: 0px;
  }
  .td {
    flex-direction: row;
    flex: 0 1 auto;
    display: flex;
    padding: 2px 5px;
    border-left: 1px solid #999;
    line-height: 2.0em;
    overflow: hidden;
  }
  .td:first-child {
    border-left: 0px;
  }
  .td span {
    flex: 1;
  }