
.flex-table {
  flex: 1;
  display: flex;
  flex-direction: row;
  border: 1px solid #999;
  width: inherit;
}
.flex-table .pinned-scroll {
  border-right: 2px solid #999;
  display: flex;
  flex: 0 0 auto;
}
.flex-table .table-scroll {
  overflow-x: auto;
  display: flex;
  flex: 1;
}

.flex-table .table {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Verdana, Arial;
  font-size: 12px;
  flex: 1;
}

.flex-table .thead {
  border-bottom: 1px solid #888;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 0 0 3.0em;
}
.flex-table .tbody {
  overflow-y: scroll;
  flex: 1;
  flex-direction: column;
  display: flex;
}

.flex-table .row {
  border-bottom: 1px solid #999;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 0 0 3.0em;
}
.highlight .row:hover {
  background-color: #ddd;
}
.striped .row:nth-child(even) {
  background-color: #f3f3f3;
}

.striped.highlight .row:hover {
  background-color: #ddd;
}
