<template>
  <div :style="_cellStyle" :class="_cellClass" v-html="renderContent()" @click="doSort" />
</template>

<script>
  import CellMixin from './CellMixin';
  import CellProps from './CellProps';
  export default {
    name: 'flex-table-head',
    mixins: [CellProps, CellMixin],    
    props: {
      header: {type: Boolean, default: true},
      valign: {type: String, default: 'middle'}
    },
    methods: {
      doSort: function(){
        this.orderable && this.$emit('sort', this.field);
      }
    }
  }
</script>

<style>
@import url('./styles/_cell.css');
</style>