<template>
  <div ref="cell" :style="_cellStyle" :class="_cellClass" v-html="renderContent()" />
</template>

<script>
  import CellMixin from './CellMixin';
  import CellProps from './CellProps';
  export default {
    name: 'flex-table-cell',
    mixins: [CellProps, CellMixin]
  }
</script>

<style>
@import url('./styles/_cell.css');
</style>