<template>
  <div class="tbody">
    <template v-for="item in data">
      <div class='row'>
        <template v-for="head in headers">
          <flex-table-checkbox-cell 
            v-if="isCheckbox(head)"
            @change="change"
            :align="head.align"
            :valign="head.valign"
            :width="head.width"
            :cellClass="head.cellClass"
            :grow="head.grow"
            :render="head.render"
            :context="head.context"
            :field="head.field"
            :data="item" />

          <flex-table-cell 
            v-else
            :align="head.align"
            :valign="head.valign"
            :width="head.width"
            :cellClass="head.cellClass"
            :type="head.type"
            :grow="head.grow"
            :render="head.render"
            :context="head.context"
            :field="head.field"
            :data="item" />
        </template>
      </div>
    </template>
  </div>
</template>

<script>
import FlexTableCell from './FlexTableCell.vue';
import FlexTableCheckboxCell from './FlexTableCheckboxCell.vue';

export default {
  name: 'flex-table-body',
  props: ['headers', 'data'],
  components: { FlexTableCell, FlexTableCheckboxCell },
  methods: {
    change: function(field, data, currentValue, e){
      this.$emit('change', field, data, currentValue, e);
    },
    isCheckbox: function(column){
      return column.visible !== false && (column.type && column.type.toLowerCase() === "checkbox");
    },
    isNormal: function(column){
      return column.visible !== false
    }
  },
  computed: {
  }
};
</script>
