<template>
  <div class="thead">
    <template v-for="head in headers">
      <flex-table-head 
          v-if="head.visible !== false"
          @sort="sort"
          :cellClass="head.cellClass"
          :title="head.title"
          :field="head.field"
          :align="head.align"
          :width="head.width"
          :grow="head.grow"
          :orderable="head.orderable"
          :sort="head.sort" />
    </template>
  </div>
</template>

<script>
  import FlexTableHead from './FlexTableHead.vue';

  export default {
    name: 'flex-table-header',
    props: ['headers'],
    components: { FlexTableHead },
    methods: {
      sort: function(field){
        this.$emit('sort', field);
      }
    }
  };
</script>