<template>
  <div :style="_cellStyle" :class="_cellClass">
    <input v-model="isChecked" type="checkbox" @change="doCheckboxChange" />
  </div>
</template>

<script>
  import CellMixin from './CellMixin';
  import CellProps from './CellProps';
  export default {
    name: 'flex-table-checkbox-cell',
    mixins: [CellProps, CellMixin],    
    props: {
      valign: {type: String, default: 'middle'}
    },
    computed: {
      isChecked: function(){
        return this.data && this.data[this.field];
      }
    },
    methods: {
      doCheckboxChange: function(e){
        const currentValue = this.data && this.data[this.field];
        this.$emit('change', this.field, this.data, currentValue, e);
      }
    }
  }
</script>

<style>
@import url('./styles/_cell.css');
</style>