<template>
  <div class="flex-table">
    <div class="pinned-scroll" v-if="pinnedHeaders.length > 0">
      <div class="table" :class="tableClass">
        <flex-table-header ref="pinnedheader" :headers="pinnedHeaders" />
        <flex-table-body ref="pinnedbody" :headers="pinnedHeaders" :data="filteredData" />
      </div>
    </div>
    <div class="table-scroll">
      <div class="table" :class="tableClass">
        <flex-table-header ref="tableheader" :headers="tableHeaders" />
        <flex-table-body ref="tablebody" :headers="tableHeaders" :data="filteredData" />
      </div>
    </div>
  </div>
</template>

<script>
  import FlexTableHeader from './FlexTableHeader.vue';
  import FlexTableBody from './FlexTableBody.vue';
  import {addScrollListener} from './scroll';

  const _dataSort = function(a, b, field){
    const afield = a[field],
          bfield = b[field];
    if(afield < bfield) {
      return -1;
    } else if(afield > bfield) {
      return 1;
    } else {
      return 0;
    }
  };

  export default {
    name: 'flex-table',
    replace: true,
    props: ['tableData', 'highlight', 'striped'],
    components: { FlexTableBody, FlexTableHeader },
    data: function(){
      return {
        sortBy: '',
        sortDirection: 'asc',
        sortData: [],
        pinnedScrollHandler: null,
        tableScrollHandler: null,
        headers: []
      };
    },
    computed: {
      pinnedHeaders: function(){
        return (this.headers || []).filter((head) => head.pinned);
      },
      tableHeaders: function(){
        return (this.headers || []).filter((head) => !head.pinned);
      },
      tableClass: function(){
        return [
          this.highlight===true ? "highlight":"",
          this.striped===true ? "striped":""
        ].join(' ');
      },
      filteredData: function(){
        let _data = this.tableData;
        if(this.sortBy !== ''){
          _data = _data.slice().sort((a,b) => _dataSort(a, b, this.sortBy));
          _data = this.sortDirection === 'desc' ? _data.reverse() : _data;
        } else {
          // this.sortData = _data;
        }
        return _data;
      }
    },
    methods: {
      sort: function(fld){
        if(fld){
          if(this.sortBy === fld){
            if(this.sortDirection === ''){
              this.sortDirection = 'asc';
            } else if(this.sortDirection === 'asc') {
              this.sortDirection = 'desc';
            } else {
              this.sortBy = '';
              this.sortDirection = '';
            }
          } else {
            if(this.sortDirection === ''){
              this.sortDirection = 'asc';
            }
            this.sortBy = fld;
          }
          (this.headers || []).forEach((head) => {
            if(head.field===fld){
              this.$set(head, 'sort', this.sortDirection);
            } else {
              this.$set(head, 'sort', '');
            }
          });
        }
      },
      change: function(field, data, currentValue, e){
        this.$emit('change', field, data, currentValue, e);
      },
      _bindEvents: function(){
        const thElm = this.$refs.tableheader;
        const tbElm = this.$refs.tablebody;
        const phElm = this.$refs.pinnedheader;
        const pbElm = this.$refs.pinnedbody;

        if(thElm){
          thElm.$on('sort', this.sort);
        }
        if(phElm){
          phElm.$on('sort', this.sort);
        }
        if(tbElm){
          tbElm.$on('change', this.change);
        }
        if(pbElm){
          pbElm.$on('change', this.change);
        }
      },
      _unbindEvents: function(){
        const thElm = this.$refs.tableheader;
        const tbElm = this.$refs.tablebody;
        const phElm = this.$refs.pinnedheader;
        const pbElm = this.$refs.pinnedbody;

        if(thElm){
          thElm.$off('sort', this.sort);
        }
        if(phElm){
          phElm.$off('sort', this.sort);
        }
        if(tbElm){
          tbElm.$off('change', this.change);
        }
        if(pbElm){
          pbElm.$off('change', this.change);
        }
      }
    },
    mounted: function(){
      // console.log(this.$slots.default.filter(item => item.tag==='ft-column'));
      this.headers = this.$slots.default
        .filter(item => item.tag==='ft-column')
        .map((item) => {
          let propsData = item.data.attrs;
          if(item.data && item.data.inlineTemplate){
            // inline template render function is cauing a circular JSON error. Need to investigate more before implementing.
            // propsData.render = item.data.inlineTemplate.render || item.data.inlineTemplate.staticRenderFns[0];
          }
          return propsData;
        });

      this.$nextTick(() => {
        const hasGrow = (this.headers || []).some((head) => head.grow);
        const hasPinned = (this.headers || []).some((head) => head.pinned);

        const thElm = this.$refs.tableheader.$el;
        const tbElm = this.$refs.tablebody.$el;
        const phElm = this.$refs.pinnedheader && this.$refs.pinnedheader.$el;
        const pbElm = this.$refs.pinnedbody && this.$refs.pinnedbody.$el;

        if(phElm && !hasGrow){
          let pw = 0;
          [...phElm.children].forEach((item) => {
            pw += item.getBoundingClientRect().width;
          });
          phElm.style.width = `${pw}px`;
          pbElm.style.width = `${pw}px`;
        }
        if(thElm && !hasGrow){
          let tw = 0;
          [...thElm.children].forEach((item) => {
            tw += item.getBoundingClientRect().width;
          });
          thElm.style.width = `${tw}px`;
          tbElm.style.width = `${tw}px`;
        }

        (this.headers || []).forEach((head) => {
          if(!!head.sort){
            this.sortBy = head.data;
            this.sortDirection = head.sort;
          }
        });
        this.sort();

        if(tbElm && pbElm){
          this.pinnedScrollHandler = addScrollListener(pbElm, pos => tbElm.scrollTop = pos);
          this.tableScrollHandler = addScrollListener(tbElm, pos => pbElm.scrollTop = pos);
        }
        this._bindEvents();
      });
    },
    destroyed: function(){
      this._unbindEvents();
      this.pinnedScrollHandler && this.pinnedScrollHandler.removeScrollListener();
      this.tableScrollHandler && this.tableScrollHandler.removeScrollListener();
    }
  }
</script>

<style lang="css">
@import url('./styles/_table.css');
</style>